@import "../../colorVars.scss";

.container {
  display: inline-block;
  min-width: 150px;
  //   text-align: center;
  position: relative;
  cursor: pointer;
}

.selectedText {
  background-color: var(--chartBG);
  padding: 6px 10px;
  border-bottom: 1px solid var(--base_color);
  color: var(--textColor);
}

.selectedText::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: var(--textColor) transparent transparent transparent;
}

.selectedText.active::after {
  top: 8px;
  border-color: transparent transparent var(--textColor) transparent;
}

ul {
  margin: 0;
  padding: 0;
  //   text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.249);
}

.selectOptions {
  position: absolute;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background: var(--chartBG);
  //   border-bottom: 1px solid rgb(255, 99, 132);
  cursor: pointer;
  color: var(--textColor);
}

li:hover {
  background-color: var(--base_color);
  color: var(--chartBG);
}
